body {
    margin: 0;
  }
  header {
    background-color: rgb(8, 243, 86);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    opacity: 0.9;
    border: 1px solid black;
  }
  p {
    margin-top: 80px;
  }