* {
    margin: 0;
    padding: 0;
    color: white;
}

.main {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #222222;
    position: relative;
    width: 1440px;
    height: 790px;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 22px;
}

img {
    width: 177px;
    height: 55px;
}

.link {
    display: flex;
    padding-right: 38px;
}

.link__text {
    padding-left: 76px;
}





