
.div {
background-color:black;
color: white;
width:2000px;
height:2000px;
min-width: 50px;
min-height: 50px;
max-width: 200px;
max-height: 800px;
}

.div2{
height: 2000px;
width: 100px;
background-color:red;
}

.wrapper{
background-color:green;
height: 50vh;
width: 50vw;
display: flex;
}