.container {
    position: relative;
    cursor: pointer;
}

.input {
    position: absolute;
    opacity: 0;

}

.item {
    position: absolute;
    background-color: rgb(195, 199, 195);
    height: 30px;
    width: 30px;
    right: -30px;
    top: -10px;
    border-radius: 50px;
    transition: 0.3s;
}

.container .input:checked~.item {
    background-color: blue;
}

.item::after {
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    top: 9px;
    right: 8px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    rotate: -45deg;
    opacity: 0;
    transition: all 1s ease-in-out;
    border-radius: 2px;
}

.container .input:checked~.item:after {
    height: 6px;
    width: 12px;
    opacity: 1;
}